{% extends 'base_page.html.twig' %}

{% block body_content %}

	{# formulario del buscador de cursos #}
    {{
        form_start(
            buscarCurso,
            {'action': path('asignar_curso_nuevo'), 'method': 'POST'},
            {'attr': {'novalidate': 'novalidate', 'class':'form-control'}}
        )
    }}

    {{ form_row(buscarCurso.curso) }}
    {{ form_end(buscarCurso) }}
    {# termina formulario del buscador de cursos #}

   	{# tabla que muestra todos los cursos disponibles #}
    <h1>Cursos Disponibles</h1>
	<table class = "table table-striped table-hover">
		<thead>
			<tr>
				<th>Curso		</th>
				<th>Código Curso</th>
				<th>Acción		</th>
			</tr>
			
			
			<script type="text/javascript"> //Javascript para asignar curso

  				function dobleClick(e) //
  				{
    					
    					e.preventDefault(); // previene el doble click
  				}

			</script>

		</thead>
		<tbody>
			{% for curso in cursos %}
			<tr>
				<td> {{ curso.nombreCurso }} </td>
				<td> {{ curso.codigoCurso }} </td>
				<td> 
					<a class= "btn btn-default btn-xs btn-warning"  onclick="this.addEventListener('click', dobleClick, false);" href="{{ path('add_asignacion', {'curso_id':curso.id}) }}">
						Asignar Curso
					</a>
				</td>
			</tr>	
			{% endfor %}
		</tbody>
	</table>
	 
	
	
{% endblock %}
