{% extends 'base_page.html.twig' %}

{% block body_content %}
	{# tabla que muestra todos los cursos #}
    <h1>Cursos Asignados</h1>
	<table class = "table table-striped table-hover">
		<thead>
			<tr>
				<th>Curso</th>
				<th>Acción</th>
			</tr>
		</thead>
		<tbody>
			{% for curso in cursosAsignados %}
			<tr>
			
				<td> {{ curso.nombreCurso }} </td>
				<td> 
					<a class= "btn btn-default btn-xs btn-danger" href="{{ path('remove_curso', { 'curso_id':curso.id}) }}">
						Quitar Curso
					</a>
				</td>
				
			</tr>	
			{% endfor %}
		</tbody>
	</table>

	<a class= "btn btn-default btn-sm btn-warning" href="{{ path('asignacion') }}">
		<h4>Asignar nuevo Curso</h4>
	</a>
	<a class= "btn btn-default btn-sm btn-warning" href="{{ path('cursos_download') }}">
		<h4>Empezar a descargar material</h4>
	</a>

	<a class= "btn btn-default btn-sm btn-warning" href="{{ path('documento_new') }}">
		<h4>Empezar a aportar a la comunidad</h4>
	</a>

{% endblock %}
