<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title  %}Learn-In!{% endblock %}</title>
    
         {% block stylesheets  %}{% endblock %}
       
         {% stylesheets  
        'css/style.css'
        
        
        filter='cssrewrite'
        filter='uglifycss'
        output='css/compiled/app2.css'
        debug=false
        %}<link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% stylesheets  
        'css/lobster.css'
        'bootstrap/css/bootstrap.css'   
        'css/font-awesome.min.css'
        'css/minimalMenu.css'
        'css/animate.css'
        'css/select2.css'
        'css/comments.css'
        'css/select2-bootstrap.css'
        
        
        filter='cssrewrite'
        filter='uglifycss'
        output='css/compiled/app.css'
        debug=false
        %}<link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        
        
       
        
       
        
         <script src="{{ asset('js/jquery-2.1.1.min.js') }}"></script>
      
       
       
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        </head>
        <body>
            {# sub menu para entrar a los sitios administrativos#}
            {% if app.user and app.user.hasRole('ROLE_ADMIN') %}
                {% include 'menu/minimal.html.twig' %}
                
            {% endif %} 

            

            {% block body %}{% endblock %}




            {% block javascripts %}

                <!-- Template js -->
               
                <script src="{{ asset('bootstrap/js/bootstrap.js') }}"></script>
                <script src="{{ asset('js/select2/select2.js') }}"></script>
                <script src="{{ asset('js/jquery.appear.js') }}"></script>
                <script src="{{ asset('js/contact_me.js') }}"></script>
                <script src="{{ asset('js/modernizr.custom.js') }}"></script>
                <script src="{{ asset('js/script.js') }}"></script>
                {# Default classes #}
                <script>
                    $('select.select2').select2();
                </script>
                <script>
                     $('.navbar-toggler').on('click', function(event) {
                        event.preventDefault();
                        $(this).closest('.navbar-minimal').toggleClass('open');
                    });
                </script>
              
            {% endblock %}
            {# </div> #}
        </body>
        {% include 'default/analytics.html.twig' %}
</html>
