<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title  %}Learn-In!{% endblock %}</title>
    
         {% block stylesheets  %}{% endblock %}
       
       
        {% if app.environment == 'dev' %}
        {% stylesheets  
        'css/style.css'
        
        filter='cssrewrite'
       
        output='css/compiled/app2.css'
        debug=false
        %}<link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% stylesheets 
        'bootstrap/css/bootstrap.css'
        'css/font-awesome.min.css'
        'css/animate.css'  
        'css/lobster.css'
        'css/minimalMenu.css'
        'css/select2.css'
        'css/comments.css'
        'css/select2-bootstrap.css'
        
        
        filter='cssrewrite'
       
        output='css/compiled/app.css'
        debug=false
        %}<link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
       
        {% else %}
    
        {% include 'default/stylesh.html.twig' %}
            
        {% endif %}
        
        
       
        
         <script src="{{ asset('js/jquery-2.1.1.min.js') }}"></script>
      
       
       
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        </head>
        <body>
            {# sub menu para entrar a los sitios administrativos#}
            {% if app.user and app.user.hasRole('ROLE_ADMIN') %}
                {% include 'menu/minimal.html.twig' %}
                
            {% endif %} 

            

            {% block body %}{% endblock %}

          

            
           

                <!-- Template js -->
                {% javascripts 
                'bootstrap/js/bootstrap.js'
                'js/select2/select2.js'
                'js/jquery.appear.js'
                'js/contact_me.js'
                'js/modernizr.custom.js'
                'js/script.js'

                filter='cssrewrite'
                output='js/compiled/javascripts.js'
                
                %}<script src="{{ asset_url }}"></script>
                {% endjavascripts %}
                              
                <script>
                    $('select.select2').select2();
                </script>
                <script>
                     $('.navbar-toggler').on('click', function(event) {
                        event.preventDefault();
                        $(this).closest('.navbar-minimal').toggleClass('open');
                    });
                </script>
               
            {% block javascripts %}{% endblock %}
            
            {# </div> #}
        </body>
        {% include 'default/analytics.html.twig' %}
</html>
