{% extends 'default/base.html.twig' %}
       
    
    {% block body %}
        
        <!-- Start Logo Section -->
        <section id="logo-section" class="text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="logo text-center">
                            <h1>Learn-In</h1>
                            <span>UVG</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Logo Section -->
        
        
        <!-- Start Main Body Section -->
        <div class="mainbody-section text-center">
            <div class="container">
                <div class="row">
                    
                    <div class="col-md-3">
                        {# ruta para descargar parciales #}
                        <div class="menu-item blue">
                            <a href="#" data-toggle="modal" data-target="#modalDocumento">
                                <i class="fa fa-cloud-download "></i>
                                <p>Descargar Documentos</p>
                            </a>
                        </div>
                        {% include 'modal/modal_documento.html.twig' %}
                        {# termina ruta para descargar parciales #}

                        
                        {# espacio para perfil #}
                        <div class="menu-item light-red">
                            <a href="#" data-toggle="modal" data-target="#modalPerfil">
                                <i class="fa fa-user"></i>
                                <p>Perfil</p>
                            </a>
                        </div>
                        
                        {% include 'modal/modal_perfil.html.twig' %}
                        {# termina ruta perfil #}

                         <div class="menu-item green">
                            <a href="{{path('list_cursos_foro')}}" data-toggle="modal">
                                <i class="fa fa-comments-o"></i>
                                <p>Foros</p>
                            </a>
                        </div>
                        
                    </div>
                    
                    <div class="col-md-6">
                        
                        <!-- Start Carousel Section -->
                        <div class="home-slider">
                            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="10000" style="padding-bottom: 60px;">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                </ol>

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <img id="example" title="My tooltip content" src="{{ asset('images/index/IMG_INDEX3.png') }}" width="304" height="236" class="img-responsive" alt="">
                                    </div>
                                    <div class="item">
                                        <img src="{{ asset('images/index/IMG_HEADER.png') }}"  height="236!important" alt="">
                                    </div>
                                    <div class="item">
                                        <img src="{{ asset('images/learn-in.png')}}" class="img-responsive" alt="">
                                    </div>

                                </div>

                            </div>
                        </div>
                        <!-- Start Carousel Section -->
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="menu-item red responsive">
                                    <a href="">
                                        <i class="fa fa-thumbs-up"></i>
                                        <p>Empty</p>
                                    </a>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                             
                                <div class="menu-item light-orange responsive-2">
                                    <a href="{{path('contact')}}" data-toggle="modal tooltip">
                                        <i class="fa fa-envelope-o"></i>
                                        <p>Contacto</p>
                                    </a>
                                </div>
                           
                            </div>
                        </div>
                        
                    </div>
                    
                    <div class="col-md-3">
                        
                       
                        {# ruta para subir documentos #}
                        <div class="menu-item color">
                            {% if app.user %}
                                <a href="{{ path('documento_new')}}" data-toggle="modal">
                                    <i class="fa fa-cloud-upload"></i>
                                    <p>Subir Documentos</p>
                                </a>
                            {% endif %}
                        </div>
                        {# termina ruta para subir documentos #}  
                        
                        {# ruta para el Cursos #}
                        <div class="menu-item blue">
                            <a href="#" data-toggle="modal" data-target="#modalCursos">
                                <i class="fa fa-mortar-board"></i>
                                <p>Cursos</p>
                            </a>
                        </div>

                        {% include 'modal/modal_curso.html.twig' %}
                        {# termina ruta de Cursos #}
                        
                        <div class="menu-item light-red">

                            <a href="#" data-toggle="modal" data-target="#modalTutoria">

                           
                                <i class="fa fa-users"></i>
                                <p>Tutorías</p>
                            </a>
                        </div>
                        
                        {% include 'modal/modal_tutoria.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
        <!-- End Main Body Section -->
        <footer>
            <!-- Start Copyright Section -->
            <div class="copyright text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div>Elaborado por estudiantes UVG para estudiantes UVG.
                            <p><a href="https://github.com/fcpauldiaz/plataforma_virtual" target="_blank">Promovemos el código abierto.</a></p></div>
                            <p>Powered by <a href="http://getbootstrap.com" target="_blank">Bootstrap</a> under <a href="https://github.com/fcpauldiaz/plataforma_virtual/blob/master/LICENSE.md" target="_blank">MIT License</a>. </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Copyright Section -->
        </footer>
        
        
       
        
        
   {% endblock body %}
