{% extends 'base_page.html.twig' %}


{% block body_content -%}
    
   
    {% if curso.documentos is empty %}
    
        <h1>¿Todavía no aparece nada en el curso?</h1>
        <h2>La comunidad UVG debe colaborar con los documentos a subir.</h2>
        <h2><a class="btn btn-block btn-warning btn-lg" http="{{path('documento_new')}}">Empezar a subir</a></h2>

    
    {% endif %}
    

    {% set count = 0 %}
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" >
    {% for doc in curso.documentos %}

      

         <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="heading{{count}}">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{count}}" aria-expanded="false" aria-controls="collapse{{count}}">
             Documento número {{doc.numeroDocumento}} {{doc.documentFixedName}}  Tipo: {{doc.tipoDocumento}}
            </a>
          </h4>
        </div>
        <div id="collapse{{count}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{count}}">
          <div class="panel-body">


            <table class="table table-striped table-hover">


                <tbody>
                    <tr>
                        <th>Nombre Documento</th>
                        <td>{{ doc.documentFixedName }}</td>
                    </tr>
                    <tr>
                        <th>Actualizado</th>
                        <td>{{ doc.updatedAt |date('d-m-Y H:i:s')}}</td>
                    </tr>
                    <tr>
                        <th>Link</th>
                        <td><a  target="_blank" href="{{ vich_uploader_asset(doc, 'documentFile') }}">Descargar</a></td>
                    </tr>
                    <tr>
                        <th>Subido por</th>
                        <td>{{doc.usuario}}</td>
                    </tr>
                     <tr>
                        <th>Tipo Documento</th>
                        <td>{{ doc.tipoDocumento }}</td>
                    </tr>

                </tbody>
            </table>
           
          </div>
        </div>
      </div>
      

       
        {% set count = count + 1 %}
    {% endfor %}
</div>

        <ul class="record_actions">
    <li>
        <a class="btn btn-warning" href="{{ path('cursos_download') }}">
            Regresar
        </a>
    </li>
   
    
</ul>
{#comments#}
{% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': curso.id } %}

{% endblock %}
