{% extends '::base_page.html.twig' %}

{% block body_content -%}
    <h1>Subir Documentos</h1>

    	

    	{{ form_start(form,{'attr': {'class':'form-group formcolor'}}) }}
    		{% if not form.vars.valid %}
			<div class="alert alert-danger" role="alert">
			    {{ form_errors(form) }}
			</div>
			{% endif %}
		    {{ form_row(form.tipoDocumento) }}
		    {{ form_row(form.curso) }}
		    {{ form_row(form.numeroDocumento) }}
		    {{ form_row(form.documentFile) }}
		   <br>
          

           <a type = "button" data-toggle="modal" id="submitBtn" data-target="#modalDocumento" class="btn btn-lg buttonbk" style="font-size:20px">Guardar</a>
           <br>
           <br>
        <ul class="record_actions">
    <li>
        <a href="{{ path('documento') }}" class="btn btn-warning">
            Regresar
        </a>
    </li>
</ul>

<div class="modal fade" id="modalDocumento" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2>Confirmar Envío</h2>
      </div>
      <div class="modal-body">
                

                <!-- We display the details entered by the user here -->
                <table class="table">
                    <tr>
                        <th>Tipo Documento</th>
                        <td id="tipo"></td>
                    </tr>
                    <tr>
                        <th>Curso</th>
                        <td id="curso"></td>

                    </tr>
                    <tr>
                        <th>Número Documento</th>
                        <td id="numero"></td>
                        
                    </tr>
                     <tr>
                        <th>Nombre del Documento</th>
                        <td id="nombre"></td>
                        
                    </tr>
                </table>

            </div>

    <div class="modal-footer">
    <strong><p align="left">Al enviar este archivo acepto todos los Términos y Condiciones.</p></strong>
           {{ form_row(form.submit, {'attr':{'class':'btn btn-block buttonbk '}})}}
           {{ form_end(form) }}
        </div>
    </div>
</div>

<script src="{{ asset('js/reloadDataForm.js') }}"></script>

{% endblock %}
