{% extends '::base_page.html.twig' %}

{% block body_content -%}
    <h1>Documento</h1>

    <table class="table table-striped table-hover blk">
        <tbody>
            <tr>
                <th>Nombre Documento</th>
                <td>{{ entity.documentName }}</td>
            </tr>
             <tr>
                <th>Curso</th>
                <td>{{ entity.curso }}</td>
            </tr>
            <tr>
                <th>Actualizado</th>
                <td>{{ entity.updatedAt|date('d-m-Y H:i:s') }}</td>
            </tr>
            <tr>
                <th>Subido Por</th>
                <td>{{ entity.usuario }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a class="btn btn-default" href="{{ path('documento_new') }}">
            Subir otro documento
        </a>
    </li>
    <li>
        <a class="btn btn-default" href="{{ path('documento_edit', { 'slug': entity.slug }) }}">
           Editar
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
