{% extends '::base_page.html.twig' %}




{% block body_content -%}
    <h1>Otras Tutorías</h1>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Tutor</th>
                <th>Curso</th>
                <th>Lugar</th>
                <th>Horario</th>
                <th>Información Adicional</th>
                <th>Tipo de Servicio</th>
                <th>Rating</th>
                <th>Votar</th>
            </tr>
        </thead>
        <tbody>
        {% for tutoria in entities %}
        
        <tr>
            <td>{{ tutoria.usuario.getEmail()}}</td>
            <td>{{ tutoria.curso }}</td>
            <td>{{ tutoria.lugar }}</td>
            <td>{{ tutoria.horario }}</td>
            <td>{{ tutoria.tipoServicio }}</td>
            <td>{{ tutoria.info }}</td>
            <td>{{ tutoria.rating | rating }}</td>
            <td>
            <ul>
                <li>
                    <a href="{{ path('tutoria_vote', { 'id': tutoria.id }) }}">Vote</a>
                </li>
            </ul>
            </td>
        </tr>
        
        {% endfor %}
        </tbody>
    </table>

    
    {% endblock %}
