{% extends '::base_page.html.twig' %}

{% block body_content -%}
    <h1>Dar una tutoría</h1>

    	

    	{{ form_start(form,{'attr': {'class':'form-group formcolor'}}) }}
    		{% if not form.vars.valid %}
			<div class="alert alert-danger" role="alert">
			    {{ form_errors(form) }}
			</div>
			{% endif %}
			{{ form_row(form.curso) }}
			{{ form_row(form.lugar)}}
			{{ form_row(form.horario)}}
		    {{ form_row(form.info) }}
		    {{ form_row(form.tipoServicio)}}
		    
			
		   <br>
		   {{ form_row(form.submit, {'attr':{'class':'btn buttonbk'}})}}
		{{ form_end(form) }}


{% endblock %}
