{% extends '::base_page.html.twig' %}

{% block body_content -%}
    <h1>Tutoría</h1>

    <table class="table table-striped table-hover blk">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Tutor</th>
                <td>{{ entity.usuario }}</td>
            </tr>
            <tr>
                <th>Curso</th>
                <td>{{ entity.curso }}</td>
            </tr>
            <tr>
                <th>Rating</th>
                <td>{{ entity.rating | rating }}</td>
            </tr>
            <tr>
                <th>Votos</th>
                <td>{{ entity.getVotes() }}</td>
            </tr>
            
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('tutoria') }}">
            Back to the list
        </a>
    </li>
    
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
