{% extends 'base_page.html.twig' %}


{% block body_content -%}
    <h1>Curso</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre del Curso</th>
                <td>{{ entity.nombreCurso }}</td>
            </tr>
            <tr>
                <th>Código Curso</th>
                <td>{{ entity.codigoCurso }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a class="btn btn-info href"="{{ path('curso_new') }}">
            Crear otro curso
        </a>
    </li>
    <br>
    <li>
        <a class="btn btn-warning" href="{{ path('curso_edit', { 'slug': entity.slug }) }}">
            Editar
        </a>
    </li>
    <br>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
