<div class="fos_user_user_show">
    <h3 style="border-top: 1px solid #c5c5c5;color: #ffffff ">{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}: {{ user.username }}</h3>
    <h3 style=" color: #ffffff ">{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}: {{ user.email }}</h3>
    <h3 style="border-bottom: 1px solid #c5c5c5; color: #ffffff ">Nombre :{{user.nombreCompleto}}</h3>
</div>
