{% extends '::base_page.html.twig' %}

{% block body_content -%}

    <h1>Estadisticas</h1>
    <h3>Total parciales: {{ t_parciales }}</h3>
    <h3>Total hojas de trabajo: {{ t_hojasTrabajo }}</h3>
    <h3>Total tutorias: {{ t_tutorias }}</h3>
    <h3>Usuario que ha subido más documentos: {{ usuario.nombreCompleto }}</h3>
    <h3>Curso con mas documentos: {{ cursot_docs.nombreCurso }}</h3>
    <h3>Curso con mas tutorias: {{ cursot_tutorias.nombreCurso }}</h3>


{% endblock %}
